html
  head
    link(rel="stylesheet" href='css/style.min.css')
  body
    include html/header 
    main.page
      h1 Привет! Hello!!!
      span Lorem ipsum dolor sit amet ssdds.
      img(src='@img/tiger.jpeg', alt='', srcset='', width='50', height='50')
      img(src='@img/tiger.jpeg', alt='', srcset='', width='50', height='50')
    include html/footer
    script(src='js/app.min.js')
