@font-face{
	font-family: Allenoire Font;
	font-display: swap;
	src: url("../fonts/Allenoire Font.woff2") format("woff2"), url("../fonts/Allenoire Font.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: appetite;
	font-display: swap;
	src: url("../fonts/appetite-italic.woff2") format("woff2"), url("../fonts/appetite-italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: impact2;
	font-display: swap;
	src: url("../fonts/impact2.woff2") format("woff2"), url("../fonts/impact2.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Leto Text Sans Defect;
	font-display: swap;
	src: url("../fonts/Leto Text Sans Defect.woff2") format("woff2"), url("../fonts/Leto Text Sans Defect.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
